GOGENETIC_PESQUISA_NOME=GoGenetic Pesquisa
GOGENETIC_PESQUISA_TOKEN=seu_token_aqui

GOGENETIC_SOLUCOES_NOME=GoGenetic Soluções
GOGENETIC_SOLUCOES_TOKEN=seu_token_aqui

GOSOLOS_NOME=GoSolos
GOSOLOS_TOKEN=seu_token_aqui
